<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @drawing.user_id %>
</p>

<p>
  <strong>Des:</strong>
  <%= @drawing.des_id %>
</p>

<p>
  <strong>Counter:</strong>
  <%= @drawing.counter %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @drawing.parent %>
</p>

<p>
  <strong>Active:</strong>
  <%= @drawing.active %>
</p>

<%= link_to 'Edit', edit_drawing_path(@drawing) %> |
<%= link_to 'Back', drawings_path %>
