<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class='signupform'>
  <div class="field">
    
    <div class='explain'>Username must be between 4 and 11 characters</div>
    <%= f.text_field :username, :placeholder => "Username" %>
  </div>
  <div class="field">
    
    <div class='explain'>Please enter a valid Email</div>
    <%= f.text_field :email, :placeholder => "Email" %>
  </div>
  <div class="field">
    
    <div class='explain'>Password must be between 5 and 14 characters</div>
    <%= f.password_field :password, :placeholder => "Password" %>
  </div>
  <div class="field">

    <div class='explain'>Confirm your password</div>
    <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>

<% end %>
