<div class='topback'>
	<%= link_to "<div class='top'>
		<h1>Draw it!<br>Describe it!</h1>
	</div>".html_safe, '/', class: 'homelink' %>
</div>

<div class='cornerback'>
	<div class='corner'>
		<% if current_user %>
			<div class='currentbox'><%= current_user.username %></div>
			<%= link_to "LOG OUT", '/logout', class: 'boxes' %>
		<% else %>
			<%= link_to "SIGN UP", new_user_path, class: 'boxes' %>
			<%= link_to "LOG IN", '/login', class: 'boxes' %>
		<% end %>
	</div>
</div>

<% if @pdrawing %>

	<div class='headerback'>
		<div class='header'>
			The winning drawing from the last game is...
		</div>
	</div>

	<div class='pdrawback'>
		<div class="pdraw">
			<%= image_tag @pdrawing.image %>
		</div>
		<div class='pdrawby'>
			-<%= @pdrawing.user.username %>
		</div>
	</div>

	<% if current_user %>
		<div class='mkdesback'>
			<div class='mkdes'>
				<h2>DESCRIBE IT!</h2>
				<div>(get ridiculous)</div>
				<%= form_for @description, html: { class:'newdescription' } do |f| %>
					<%=f.text_area :content, :placeholder => "Go ahead...", maxlength: 100 %>
					<%=f.submit :"Submit Description" %>
				<% end %>
			</div>
		</div>
	<% end %>

	<div class='desdivback'>
		<div class='desdiv'>
			<% if current_user %>
				<div class='instruct'>Like your favorite descriptions of the above drawing!</div>
				<div class='instruct'>The first to get 5 likes becomes the star of the next game!</div>
				<div class='instruct'>Then you get to DRAW IT!</div>
			<% else %>
				<div class='instruct'>Log in to Describe It!</div>
				<div class='instruct'>Here are some drawings of the above description...</div>
			<% end %>
				
			<% if @cdescription %>
				<% @cdescription.each do |x| %>	
					<div class='cdesboxback'>
							<div class='cdes'>
								<%= x.content %>
							</div>

							<% if current_user %>
								<div class='cdeslike'>
									<% if current_user.voted_for? x %>
										<div class='stat-des'>
											*
										</div>

										<%= link_to "unlike", unlike_description_path(x), method: :put, class: 'unlikebutton-des' %>
									<% else %>
										<div class='stat-des'>
												
										</div>

										<%= link_to "like", like_description_path(x), method: :put, class: 'likebutton-des' %>
									<% end %>

									<div class='count-des'>
										<span><%= x.score %></span> users liked this
									</div>
								</div>
							<% else %>
								<div class='cdeslike'>
									<div class='count-des'>log in!<br>join the fun!</div>
									<div class='count-des'>
										<span><%= x.score %></span> users liked this
									</div>
								</div>
						<% end %>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>

<% else %>

	<div class='headerback'>
		<div class='header'>
			The winning description from the last game is...
		</div>
	</div>
	<div class='pdesback'>
		<div class='pdes'>
			"<%= @pdescription.content %>"
			<div class='pdesby'>
				-<%= @pdescription.user.username %>	
			</div>
		</div>
	</div>

	<% if current_user %>
		<div class='mkdrawback'>
			<div class='mkdraw'>
				<h2>DRAW IT!</h2>
				<div>(get ridiculous)</div>
				<%= form_for @drawing, html: { class:'newdrawing' } do |f| %>
					<div id="createdrawing"></div>
					<input type="hidden" name="drawing[image]" value="">
					<%=f.submit :"Submit Drawing" %>
				<% end %>
			</div>
		</div>
	<% end %>

	<div class='drawdivback'>
		<div class='drawdiv'>
			<% if current_user %>
				<div class='instruct'>Like your favorite drawings of the above description!</div>
				<div class='instruct'>The first to get 5 likes becomes the star of the next game!</div>
				<div class='instruct'>Then you get to DESCRIBE IT!</div>
			<% else %>
				<div class='instruct'>Log in to Draw It!</div>
				<div class='instruct'>Here are some drawings of the above description...</div>
			<% end %>
			
			<% if @cdrawing %>
				<% @cdrawing.each do |x| %>	
					<div class='cdrawboxback'>
						<div class='cdrawbox'>
							<div class='cdraw'>
								<%= image_tag x.image %>
							</div>
							
							<% if current_user %>
								<div class='cdrawlike'>
									<% if current_user.voted_for? x %>
										<div class='stat-draw'>
											*
										</div>
										
										<%= link_to "unlike", unlike_drawing_path(x), method: :put, class: 'unlikebutton-draw' %>
									<% else %>
										<div class='stat-draw'>
											
										</div>
										
										<%= link_to "like", like_drawing_path(x), method: :put, class: 'likebutton-draw' %>
									<% end %>

									<div class='count-draw'>
										<span><%= x.score %></span> users liked this
									</div>
								</div>
							<% else %>
								<div class='cdrawlike'>
									<div class='count-draw'>log in to join the fun!</div>
									<div class='count-draw'>
										<span><%= x.score %></span> users liked this
									</div>
								</div>
							<% end %>
						</div>
					</div>
				<% end %>
			<% end %>			
		</div>
	</div>

<% end %>

<div class='rcornerback'>
	<div class='rcorner'>
			<%= link_to "Winners Archive", '/winners', class: 'rboxes' %>
			<%= link_to "Losers Archive", '/losers', class: 'rboxes' %>
	</div>
</div>
<div class='usercount'>
	<%= User.count %> users signed up to date!
</div>