<h1>Draw it! Describe it!</h1>

		<% if current_user %>
	<%= current_user.username %>
	<%= link_to "Log Out", '/logout' %>
		<% else %>
	<%= link_to "Sign Up", new_user_path, class: 'boxes' %>
	<%= link_to "Log In", '/login', class: 'boxes' %>
		<% end %>


<% if @pdrawing %>
	<div class="pdrawing">
		<%= image_tag @pdrawing.image %>
	</div>

	<% if current_user %>
		<div class='mkdesdiv'>
			<%= form_for @description, html: { class:'newdescription' } do |f| %>
				<%=f.label :"Write Your Description" %><br />
				<%=f.text_area :content, :placeholder => "Go ahead..." %><br>
				<%=f.submit :"Submit Description" %>
			<% end %>
		</div>
	<% end %>

	<div class='desdiv'>
		
		<h2>Descriptions</h2>

		<% if @cdescription %>
			<% @cdescription.each do |x| %>	

				<div class=''>
					<%= link_to "Vote", like_description_path(x), method: :put %>
					<%= x.score %>
					<%= x.content %></div>
				

			<% end %>
		<% end %>
	</div>



<% else %>















<div class='main'>

	<div class='pdes'>
		<%= @pdescription.content %>	
	</div>


	<% if current_user %>


				
	<%= form_for @drawing, html: { class:'newdrawing' } do |f| %>
		<div id="createdrawing"></div>
		<input type="hidden" name="drawing[image]" value="">
		<%= f.submit :"Submit Drawing" %>
		<% end %>

			<style>
			    #createdrawing {
			        width: 400px;
			        height: 400px;
			    }
			</style>

			<script>
			    var myBoard = new DrawingBoard.Board('createdrawing');
			    $('.newdrawing').on('submit', function(e) {
			   //get drawingboard content
			  var img = myBoard.getImg();
			  
			  //we keep drawingboard content only if it's not the 'blank canvas'
			  var imgInput = (myBoard.blankCanvas == img) ? '' : img;
			  
			  //put the drawingboard content in the form field to send it to the server
			  $(this).find('input[name="drawing[image]"]').val( imgInput );

			  // var dataURL = img.toDataURL('image/png')

			  //we can also assume that everything goes well server-side
			  //and directly clear webstorage here so that the drawing isn't shown again after form submission
			  //but the best would be to do when the server answers that everything went well
			  myBoard.clearWebStorage();
			});
			</script>




		
	<% end %>


	<div class='drawdiv'>

		<h2>Drawings</h2>
		
		<% if @cdrawing %>
			<% @cdrawing.each do |x| %>	

				<div class=''>
					<%= link_to "Vote", like_drawing_path(x), method: :put %>
					<%= x.score %>
					<div class=''>
						<%= image_tag x.image %>
					</div>
				</div>
				

			<% end %>
		<% end %>
		
	</div>

</div>














<% end %>
