<div class='topback'>
	<div class="top">
		<h1>Losers<br>Archive</h1>
	</div>
</div>

<div class='cornerback'>
	<div class='corner'>
		<% if current_user %>
			<div class='currentbox'><%= current_user.username %></div>
			<%= link_to "LOG OUT", '/logout', class: 'boxes' %>
		<% else %>
			<%= link_to "SIGN UP", new_user_path, class: 'boxes' %>
			<%= link_to "LOG IN", '/login', class: 'boxes' %>
		<% end %>
	</div>
</div>

<div class='rcornerback'>
	<div class='rcorner'>
		<%= link_to "HOME", '/', class: 'rboxes' %>
		<%= link_to "Winners", '/winners', class: 'rboxes' %>
	</div>
</div>

<div class='archivebuttonsback'>
	<div class="archivebuttons">
		<button class="archive_button", id="des_button">Losing Descriptions</button>
		<button class="archive_button", id="draw_button">Losing Drawings</button>
	</div>
</div>

<div class="archiveback">
	<div class="archive">
		<div class="archive_main" id="des_archive">
			<% @descriptions.each do |x| %>
				<div class='cdesboxback'>
					<div class='cdes'>
						<%= x.content %>
					</div>
					<div class='cdeslike'>
						<%= x.user.username %>
						<div class='count'>
							<span><%= x.score %></span> people liked this
						</div>
					</div>
				</div>
			<% end %>
		</div>

		<div class="archive_main" id="draw_archive">
			<% @drawings.each do |x| %>
				<div class='cdrawboxback'>
					<div class='cdrawbox'>
						<div class='cdraw'>
							<%= image_tag x.image %>
						</div>
						<div>
							<%= x.user.username %>
						</div>
						
						<div class='count'>
							<span><%= x.score %></span> people liked this
						</div>
						
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>

